# Seguretat
CSRF_TOKEN_SECRET=un_secret_aleatori_de_minim_32_caracters
RECAPTCHA_SITE_KEY=clau_publica_de_google_recaptcha_v3
RECAPTCHA_SECRET=clau_secreta_de_google_recaptcha_v3

# Mode Desenvolupament (posar a true si es vol forçar SMTP local en lloc de producció en localhost)
DEV_SEND_REAL=false

# Servidor SMTP per l'enviament de correus
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=formulari@example.com
SMTP_PASS=contrasenya_smtp
SMTP_ENCRYPTION=tls
